<%= form_for @i do |f| %>
 <%= f.label "Имя" %>:
  <p><%= f.text_field :name %></p><br />
 <%= f.label "Цена" %>:
  <p><%= f.text_field :price %></p><br />
<%= f.label "Вес" %>:
  <p><%= f.text_field :weigth %></p><br />

    <%= f.file_field :i_photo %> <br>
    <%= image_tag @i.i_photo.url(:thumb) %> <br>

<%= f.label "Видимый" %>:
  <p><%= f.text_field :real %></p><br />
<%= f.label "Краткое описание" %>:
  <p><%= f.text_area :short_desc %><br /></p>
<%= f.label "Полное описание" %>:
  <p><%= f.text_area :description %><br /></p>

  <%= f.submit "Создать" %>
<% end %>