
<div class="container" >
	<% @items.each do |item| %>
	<%= item.name %> <span>|</span> <%= item.price %>
	<% end %>
</div> 
<br>




Ruby version: <%= RUBY_VERSION %><br>

Rails version: <%= Rails.version %><br>

Time now: <%= Time.now.asctime %> <br>
