<link href="css/items_index.css" rel="stylesheet">


<div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p><a class="btn btn-primary btn-large">Call to action!</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Features</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">
	<% @items.each do |item| %>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag item.i_photo.url %>
                    <div class="caption">
                        <h3><%= item.name %></h3>
                        <p><%= item.price %> грн.</p>
                        <p><%= item.short_desc %></p>
                        <p>
                         <a href="<%= item_path(item) %>" class="btn btn-default">More Info</a>
                         <!--   <%= link_to "Delete", item_path(item), method: :delete, data: { confirm: "Are U sure ?" }, :class=>"btn btn-danger" %> -->
                            <span>Likes: <%= item.votes_count %></span>
                            <%= link_to "", upvote_item_path(item), :class => "glyphicon glyphicon-thumbs-up" %>
                            
                        </p>
                    </div>
                </div>
            </div>
	<% end %>
            

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>

















Ruby version: <%= RUBY_VERSION %><br>

Rails version: <%= Rails.version %><br>

Time now: <%= Time.now.asctime %> <br>
