


<%= form_for @i, :url => items_path, :html => { :multipart => true } do |f| %>
  <div class="form-group">
  <%= f.label "Имя" %>:
  <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">  
  <%= f.label "Цена" %>:
  <%= f.text_field :price, :class => "form-control"  %>
  </div>
  <div class="form-group">  
    <%= f.label "Вес" %>:
  <%= f.text_field :weigth, :class => "form-control"  %>
</div>
<div class="form-group"> 
  <%= f.file_field :i_photo %>  <br>  
<%= image_tag @i.i_photo.url(:thumb) %> 
</div> <br> 

  <%= f.label "Видимый" %>:
  <%= f.check_box :real, {}, 1, 0 %>
  <div class="form-group"> 
  <%= f.label "Краткое описание" %>:
  <%= f.text_area :short_desc, :class => "form-control"  %>
  </div>
  <div class="form-group"> 
  <%= f.label "Полное описание" %>:
  <%= f.text_area :description, :class => "form-control"  %>
</div>
  <%= f.submit "Создать", :class => "btn btn-default" %>

<% end %>

